<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-4
                  col-sm-6 col-sm-offset-3
                  col-cs-10 col-xs-offset-1
                  ">



      <h1 class="text-center">Real Buses in Atlanta</h1>
      <p>
      Give us your location and we will tell you if there is a bus nearby.
      </p>
      <%= render 'form', location: @location %>
    </div>
  </div>
</div>
